section {
    background-color: aqua;
    padding: 50px 0;
    .container {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        h1 {
            margin-bottom: 20px;
            font-size: 42px;
            color: $color1;
            font-family: $main-font ;
        }
        .content-wrapper {
        //   display: flex;
        //   justify-content: space-between;

          @include flex-props;

            & > img {
                
                width: 40%;
            }
            & > p {
                width: 50%;
                font-size: 22px;
                line-height: 25px;
                letter-spacing: 1px;
                color: $color1;
            }

        }




    }
}
